<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="MongleTrip"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- 👇 Flutter 쪽 기본 메타데이터 (원래 템플릿에 있던 거) -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- 👇 카카오 앱 키 메타데이터 (네이티브 앱 키 그대로) -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="65d236de77aaf5df53ef3101daec3880" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- 런처 인텐트 (앱 아이콘 눌러서 실행) -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 👇 카카오 로그인 콜백을 받기 위한 딥링크 인텐트 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- kakao{네이티브앱키}://oauth 를 받는 부분 -->
                <data
                    android:scheme="${kakaoScheme}"
                    android:host="oauth" />
            </intent-filter>
        </activity>
    </application>

    <!-- Flutter 기본 queries (원래 있던 거) -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>
